{% extends "base.html" %}
{% block title %}Detail of Reciept{% endblock %}
{% block content %}
<h1 class="font-vazir">جزئیات برش</h1>
<!-- {{ reciept.to_accounts.f_name }} -->





<div class="font-vazir text-right relative overflow-x-auto shadow-md rounded-lg mt-4">
    <table class="text-right w-full text-sm text-left ">
        
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 ">
                <th  class="px-6 py-4 hover:bg-gray-50 dark:hover:bg-gray-600">
                    نام تولیدی:
                </th>
                <td  class="border-l px-6 py-4 hover:bg-gray-50 dark:hover:bg-gray-600">
                    {{ cut.brand_name }}
                </td>

                <th class="px-6 py-4 hover:bg-gray-50 dark:hover:bg-gray-600">
                    تعداد طاقه‌ها:
                </th>
                <td class="px-6 py-4 border-l hover:bg-gray-50 dark:hover:bg-gray-600">
                    {{ cut.total_taqe }}
                </td>

                <th class="px-6 py-4 hover:bg-gray-50 dark:hover:bg-gray-600">
                    مصرف هر کار:
                </th>
                <td class="px-6 py-4 border-l hover:bg-gray-50 dark:hover:bg-gray-600">
                    {{ cut.masraf_per_car }}
                </td>

                <th class="px-6 py-4 hover:bg-gray-50 dark:hover:bg-gray-600">
                    کد:
                </th>
                <td class="px-6 py-4 hover:bg-gray-50 dark:hover:bg-gray-600">
                    {{ cut.code }}
                </td>
                </tr>

                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 ">
                    <th  class="px-6 py-4 hover:bg-gray-50 dark:hover:bg-gray-600">
                        سایزبندی:
                    </th>
                    <td  class="px-6 py-4 border-l hover:bg-gray-50 dark:hover:bg-gray-600">
                        {{ cut.size }}
                    </td>
    
                    <th class="px-6 py-4 hover:bg-gray-50 dark:hover:bg-gray-600">
                        تعداد طاقه‌ خرج‌کار:
                    </th>
                    <td class="px-6 py-4 border-l hover:bg-gray-50 dark:hover:bg-gray-600">
                        {{ cut.total_taqe_khar }}
                    </td>
    
                    <th class="px-6 py-4 hover:bg-gray-50 dark:hover:bg-gray-600">
                        مصرف لایی هر کار:
                    </th>
                    <td class="px-6 py-4 border-l hover:bg-gray-50 dark:hover:bg-gray-600">
                        {{ cut.masraf_lai_per_car }}
                    </td>
    
                    <th class="px-6 py-4 hover:bg-gray-50 dark:hover:bg-gray-600">
                        تاریخ:
                    </th>
                    <td class="px-6 py-4 hover:bg-gray-50 dark:hover:bg-gray-600">
                        {{ cut.date }}
                    </td>
                    </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 ">
                    <th  class="px-6 py-4 hover:bg-gray-50 dark:hover:bg-gray-600">
                        نام مدل:
                    </th>
                    <td  class="px-6 py-4 border-l hover:bg-gray-50 dark:hover:bg-gray-600">
                        {{ cut.model_name }}
                    </td>
    
                    <th class="px-6 py-4 hover:bg-gray-50 dark:hover:bg-gray-600">
                        نوع پارچه:
                    </th>
                    <td class="px-6 py-4 border-l hover:bg-gray-50 dark:hover:bg-gray-600">
                        {{ cut.type_parche }}
                    </td>
    
                    <th class="px-6 py-4 hover:bg-gray-50 dark:hover:bg-gray-600">
                        طول خط‌کشی
                    </th>
                    <td class="px-6 py-4 border-l hover:bg-gray-50 dark:hover:bg-gray-600">
                        {{ cut.length_khat }}
                    </td>
    
                    <th class="px-6 py-4 hover:bg-gray-50 dark:hover:bg-gray-600">
                        کد مدل
                    </th>
                    <td class="px-6 py-4 hover:bg-gray-50 dark:hover:bg-gray-600">
                        {{ cut.model_code }}
                    </td>
                    </tr>
        </tbody>
    </table>
</div>


<div class="font-vazir text-right relative overflow-x-auto shadow-md rounded-lg mt-4">
    <table class="text-right w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase border-b bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="w-[35px] border-l">
                </th>
                <th scope="col" class="px-6 py-3">
                    رنگ
                </th>
                <th scope="col" class="px-6 py-3 w-32">
                    متراژ
                </th>
                <th scope="col" class="px-6 py-3 w-32">
                    عرض
                </th>
                <th scope="col" class="px-6 py-3 w-32">
                    تعداد لا
                </th>
                <th scope="col" class="px-6 py-3 w-32">
                    تعداد کار
                </th>
                <th scope="col" class="px-6 py-3 w-32">
                    تعداد لا خرج‌کار
                </th>
                <th scope="col" class="px-6 py-3 w-96">
                    توضیحات
                </th>
            </tr>
        </thead>
        
        <tbody>
            {% for clothroll in cloths %}

            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td scope="row" class="text-center pr-[20px] pl-2 border-l">
                    {{ forloop.counter }}
                </td>
                <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ clothroll.color }}
                </th>
                <td class="px-6 py-4 ">
                    {{ clothroll.length }}
                </td>
                <td class="px-6 py-4 font-vazir-fadigit">
                    {{ clothroll.width }}
                </td>
                <td class="px-6 py-4 font-vazir-fadigit">
                    {{ clothroll.ply_car }}
                </td>
                <td class="px-6 py-4 font-vazir-fadigit">
                    {{ clothroll.total_car }}
                </td>
                <td class="px-6 py-4 font-vazir-fadigit">
                    {{ clothroll.ply_khar }}
                </td>
                <td class="px-6 py-4 font-vazir-fadigit">
                    {{ clothroll.descriptions }}
                </td>
            </tr>
                {% endfor %}
            <tr class=" border-b text-black text-bold bg-gray-100 dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td scope="row" class="text-center pr-[20px] pl-2 border-l">
                    
                </td>
                <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    کل
                </th>
                <td class="px-6 py-4 ">
                    
                </td>
                <td class="px-6 py-4 font-vazir-fadigit">
                </td>
                <td class="px-6 py-4 font-vazir-fadigit">
                    {{ cut.total_car }}
                </td>
                <td class="px-6 py-4 font-vazir-fadigit">
                    {{ cut.total_ply }}
                </td>
                <td class="px-6 py-4 font-vazir-fadigit">
                </td>
                <td class="px-6 py-4 font-vazir-fadigit">
                </td>
            </tr>
        </tbody>
    </table>
</div>



{% endblock %}
