{% load static %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap" rel="stylesheet">
<link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/regular.css' %}" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="{% static 'css/output.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css">